.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  &-imagen {
    img.avatar {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 3px solid $color-avatar-border;
      object-fit: cover;

      @include zoom-in(); // 👈 animación
    }
  }

  &-texto {
    h1,
    h2,
    h3,
    p {
      margin-bottom: 1rem;
      color: aliceblue;
    }

    h1 {
      font-size: 50px;
      @include slide-up(0.8s, 0s); // 👈 animación
    }

    h2 {
      font-size: 50px;
      color: $color-border-footer;
      @include slide-up(0.8s, 0.1s); // 👈 delay opcional
    }

    h3 {
      font-size: 30px;
      @include slide-up(0.8s, 0.2s); // 👈 delay progresivo
    }
  }
}
